  <div class="clearfix"></div>
  
  <!-- Start Footer -->
  <footer> 
    <div class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <img src="images/brand/logo-footer.png" class="logo-footer" alt="">
            <!-- Start Network Social Icon -->
            <ul class="social-network">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
              <li><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
            <!-- End Network Social Icon -->
          </div>
          <div class="col-md-3 footer-item">
            <div class="row">
              <div class="col-md-5 col-sm-6 col-xs-6">
                <!-- Start Link -->
                <ul class="footer-link">
                  <li><a href="#">Travel</a></li>
                  <li><a href="#">Explorers</a></li>
                  <li><a href="#">Nature</a></li>
                  <li><a href="#">Science</a></li>
                  <li><a href="#">Advices</a></li>
                </ul>
                <!-- End Link -->
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Start Link -->
                <ul class="footer-link">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Term Of Service</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
                <!-- Start Link -->
              </div>
            </div>
          </div>
          <div class="col-md-3 footer-item">
            <!-- Start Subscribe -->
            <h5 class="title-footer">Subscribe Now</h5>
            <p>Hrrem volutpat per in, te hinc essent mea ei pro corrumpit.</p>
            <div class="input-group left">
              <input type="text" class="form-control form-subscribe" placeholder="Enter Your Email">
              <span class="input-group-btn">
              <button class="btn btn-primary" type="button"><span class="fa fa-envelope"></span></button>
              </span>
            </div>
            <!-- End Subscribe -->
          </div>
          <div class="col-md-3 footer-item">
            <!-- Start Twitter Feed -->
            <h5 class="title-footer">Twitter Feed</h5>
            <div id="tweecool"></div>
            <!-- End Twitter Feed -->
          </div>
        </div>
      </div>
    </div>
    <div class="sub-footer">
      2015 &copy; Copyright <a href="#">NCE18CEX</a> - All right reserved
    </div>
  </footer>
  <!-- End Footer -->
